[app]
loglevel=debug

[uvicorn]
swagger_enabled = True
docs_url = /docs
redoc_url = /redocs
host = 0.0.0.0
port = 8080
reload = True

use_ssl = False
ssl_base_dir =
ssl_cert_file =
ssl_key_file =

[ca]
oin_ca_dir = secrets/ca
